@import "../../style.less";

.CategoryPageRoot {
  .category-page-main {
    margin: 24px 63px 38px 63px;
    .category-details {
      margin: 8px auto 24px auto;
      text-align: center;
      .category-title {
        font-family: "GT Eesti Pro Display";
        font-size: 24px;
        margin-bottom: 8px;
        line-height: 140%;
      }
      .category-description {
        font-family: "Proxima Nova Rg";
        font-size: 16px;
        line-height: 140%;
      }
    }

    .pagination-block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 0;
      margin-top: 24px;
      .show-more-button {
        .button-outlined();
        margin-left: 0;
      }
    }
  }
}
