@import "../../style.less";

.headerRoot {
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #d6d6d6;

  .header-logo-block {
    margin: 14px;
    .logo-img {
      margin-bottom: 8px;
    }
    p {
      font-family: "GT Eesti Pro Display";
      font-size: 16px;
      color: black;
    }
  }
  .header-buttons-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 14px;

    .outlined {
      .button-outlined();
    }
    .contained {
      .button-contained();
    }
    .text {
      .button-text();
    }
    .login-icon {
      margin-right: 8px;
    }
  }
}
