@import "../../style.less";

.objectPageRoot {
  .object-page-main {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    height: fit-content;
    .object-card {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      width: 70%;
      padding: 24px;
      padding-bottom: 0;
      font-family: "Proxima Nova Rg";
      font-size: 14px;
      .head {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 10px;
        .edit-object-button {
          .button-outlined();
          color: #ff7a00;
          border: 1px solid #ff7a00;
          font-size: 15px;
          padding: 5px 12px;
          &:hover {
            border: 1px solid #ff7a00;
            background: #ff7a00;
            color: #ffffff;
          }
        }
      }
      .object-title {
        font-family: "GT Eesti Pro Display";
        margin: 8px 0;
        font-size: 24px;
      }
      .object-img {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        .multiple-imgs {
          margin: 5px;
          max-width: 48%;
          max-height: 400px;
        }
        .single-img{
          max-width: 100%;
        }
      }
      .object-address {
        margin: 24px 0;
        img {
          margin-right: 10px;
        }
      }
      .object-description {
        column-count: 2;
        margin-bottom: 24px;
      }
    }
    .object-details {
      width: 30%;
      background-color: #302f2d;
      color: #ffffff;
      font-family: "Proxima Nova Lt";
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      h3 {
        font-size: 24px;
        font-family: "GT Eesti Pro Display";
        padding: 24px;
        border-bottom: 1px solid #000;
      }
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 17px;
        border-bottom: 1px solid #000;
        flex-wrap: wrap;
        span {
          .accent();
        }
      }
    }
  }
  .map-block {
    height: 500px;
  }
}
