.filter-field-data {
  border-bottom: 1px solid #000000;
  background: #302f2d;
  .checkbox-items-list {
    list-style: none;
    margin: 24px 0;
    .checkbox-filter-item {
      color: #fff;
      font-size: 18px;
      font-family: "Proxima Nova Lt";
      margin: 12px 24px;
      input {
        margin-right: 16px;
        accent-color: #ff7a00;
      }
    }
  }
  .select-items-list {
    padding: 24px;
    font-family: "Proxima Nova Lt";
    border-bottom: 1px solid #000000;
    background: #302f2d;
  }
}
