.year-filterRoot {
  .filter-year-range-block {
    font-family: "Proxima Nova Lt";
    padding: 24px 20px;
    border-bottom: 1px solid #000000;

    .filter-range-from-year,
    .filter-range-till-year {
      display: flex;
      justify-content: space-around;
      align-items: center;
      p {
        margin-right: 20px;
        color: white;
      }
    }
  }
}
