@font-face {
  font-family: "Proxima Nova Lt";
  src: url("../src/fonts/ProximaNova-Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "GT Eesti Pro Display";
  src: url("../src/fonts/GTEestiProDisplay-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Rg";
  src: url("../src/fonts/ProximaNova-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.button-style {
  margin-left: 24px;
  background: none;
  border: none;
  padding: 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Proxima Nova Lt";
  font-size: 18px;
  letter-spacing: 0.5px;
  cursor: pointer;

  .button-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.button-outlined {
  .button-style();
  color: #302f2d;
  border: 2px solid #302f2d;
  margin: 0;
  &:hover {
    border: 2px solid #ff7a00;
    color: #ff7a00;
    cursor: pointer;
  }
}

.button-contained {
  .button-style();
  background: #000000;
  color: #ffffff;
  border: 2px solid #000000;
  &:hover {
    color: #000000;
    border: 2px solid #ff7a00;
    background: #ff7a00;
    cursor: pointer;
  }
}

.button-text {
  .button-style();
  padding: 0;
  &:hover {
    cursor: pointer;
    color: #ff7a00;
  }
}
.google-button {
  .button-style();
  border-radius: 4px;
  border: 1px solid #979797;
  color: #302f2d;
  letter-spacing: 0.5px;
  font-family: "Proxima Nova Lt";
  font-size: 18px;
  margin: 0;
  margin-bottom: 24px;
  padding: 12px 24px;
  width: 100%;
  img {
    margin-right: 8px;
  }
}

.warning {
  font-family: "Proxima Nova Rg";
  font-size: 14px;
  color: #9b2f27;
  text-align: center;
  margin-bottom: 24px;
}

@media screen and (max-width: 750px) {
  .headerRoot {
    justify-content: center;
    flex-direction: column;
  }
  .button {
    font-size: 16px !important;
  }
  .mapRoot {
    width: 100%;
  }
  .filtersRoot {
    width: 100% !important;

    .all-filters {
      height: fit-content !important;
    }
  }
  .SignInRoot,
  .AddObjectWarningRoot,
  .SignUpSecondRoot,
  .SignUpFirstRoot,
  .AddObjectRoot {
    top: 30% !important;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .AddObjectRoot {
    width: 70%;
    .coordinates-input-block {
      flex-wrap: wrap;
      input {
        margin-right: 0 !important;
      }
    }
    .notice {
      flex-wrap: wrap;

      p {
        margin-bottom: 15px;
      }
    }
  }
  .object-page-main {
    flex-direction: column;
  }
  .object-card {
    width: 100% !important;
  }
  .object-details {
    height: fit-content !important;
    width: 100% !important;
    margin-bottom: 24px;
  }
}

.accent {
  color: #ff7a00;
}
.none {
  display: none;
}
.disabled {
  background: #ae7743 !important;
}
.loading-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.non-blured {
  z-index: 2000;
}
.blured {
  z-index: 1500;
  background-color: #323232d4;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
