@font-face {
  font-family: "Proxima Nova Lt";
  src: url("../src/fonts/ProximaNova-Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "GT Eesti Pro Display";
  src: url("../src/fonts/GTEestiProDisplay-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Rg";
  src: url("../src/fonts/ProximaNova-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.button-style {
  margin-left: 24px;
  background: none;
  border: none;
  padding: 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Proxima Nova Lt";
  font-size: 18px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.button-outlined {
  .button-style();
  color: #302f2d;
  border: 2px solid #302f2d;
  margin: 0;
  &:hover {
    border: 2px solid #ff7a00;
    color: #ff7a00;
    cursor: pointer;
  }
}

.button-contained {
  .button-style();
  background: #000000;
  color: #ffffff;
  border: 2px solid #000000;
  &:hover {
    color: #000000;
    border: 2px solid #ff7a00;
    background: #ff7a00;
    cursor: pointer;
  }
}

.button-text {
  .button-style();
  padding: 0;
  &:hover {
    cursor: pointer;
    color: #ff7a00;
  }
}

@media screen and (max-width: 750px) {
  .headerRoot {
    justify-content: center;
    flex-direction: column;
  }
  .button {
    font-size: 16px !important;
  }
  .mapRoot {
    width: 100%;
  }
  .filtersRoot {
    width: 100% !important;

    .all-filters {
      height: fit-content !important;
    }
  }
}

.accent {
  color: #ff7a00;
}
